.main{
    font-family: Raleway;
    font-style: normal;
    margin-top: 275px;
    margin-left: auto;
    margin-right: auto;
    width: 1058px;
}
.user_card{
    position: relative;
    width: 1056px;
    height: 324px;
    background: #FFFFFF;
    box-shadow: 0px 0px 24.8666px rgba(0, 0, 0, 0.4);
    border-radius: 14.9199px;
}
.user_card_text{
    position: absolute;
    margin-left: 88.69px;
    margin-top:22.31px;
}
.name{
    display: flex;
    font-weight: bold;
    font-size: 30.5611px;
    line-height: 36px;
    color: #394A58;
}
.name > img{
    width: 24px;
    height: 24px;
    margin-left: 24.75px;
}
.mail{
    font-weight: 500;
    font-size: 14.9199px;
    line-height: 18px;
    color: rgba(57, 74, 88, 0.54);
    margin-top: 5px;
}
.phone{
    font-weight: 500;
    font-size: 14.9199px;
    line-height: 18px;
    color: rgba(57, 74, 88, 0.54);
    margin-top: 7px;
}
.block_menu li{
    list-style: none;
    margin-bottom: 7px;
}
.block_menu a{
    text-decoration: none;
    font-weight: 600;
    font-size: 21.551px;
    line-height: 25px;
    color: #394A58;
}
.block_menu a:hover {
    color: #E21C1C;
}
.block_menu{
    margin-top: 46px;
}
.user_photo{
    position: absolute;
    top:-67px;
    width: 279.48px;
    height: 279.48px;
    box-shadow: inset 0px -16.5777px 16.5777px rgba(0, 0, 0, 0.5);
    background: url('../templates/user_photo.png'), #C4C4C4;
    border-radius: 14.9199px;
    margin-left: 670px;
}
.user_photo_back{
    position: absolute;
    top:-80px;
    width: 316.63px;
    height: 266.9px;
    background: rgba(57, 74, 88, 0.6);
    filter: blur(25.5887px);
    margin-left: 650px;
    z-index: -1;
}
#lk_module{
    margin-bottom: 117px;
}
.tittle{
    font-weight: bold;
    font-size: 21.551px;
    line-height: 25px;
    color: #394A58;
}
.future_event{
    margin-top: 102px;
}
.event-div{
    width: 1058px;
    margin-top: 22.64px;
}
.line{
    display: flex;
    margin-bottom: 30px;
}
.event{
    width: 330.83px;
    height: 330.83px;
    margin: 10px 20px 10px 0;
    border-radius: 11.9661px;
    background-position: 50% 50%;
}
.dark{
    width: 100%;
    height: 100%;
    background: #394A58;
    opacity: 0.5;
    border-radius: 11.9661px;
}
.event:hover > .dark{
    opacity: 0.9;
    filter:drop-shadow(0px 3.67609px 22.0566px rgba(0, 0, 0, 0.5));
}
#e1{
    background-image: url(../templates/cBaaj_T4FCU.png);
}
#e2{
    background-image: url(../templates/zejVScuHLBU\ 3.png);
}
#e3{
    background-image: url(../templates/2SCz6LBxXlY.png);
}
#e4{
    background-image: url(../templates/cBaaj_T4FCU.png);
}
#e5{
    background-image: url(../templates/WhQrChk_Rik.png);
}
#e6{
    background-image: url(../templates/2SCz6LBxXlY.png);
}
.event-text{
    position: relative;
    margin-top: -330.83px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18.15px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 19.8px;
}
.title{
    width: 279px;
    margin-top:84.61px;
}
.date_time-div{
    position: absolute;
    top:137.42px;
}
.event_date{
    display: flex;
    padding-bottom: 6px;
}
.event_date > img{
    display: flex;
    padding-right: 12px;
}
.event_time{
    display: flex;
    padding-bottom: 6px;
}
.event_time > img{
    display: flex;
    padding-right: 12px;
}
.create_event{
    width: 330.83px;
    height: 330.83px;
    margin: 10px 20px 10px 0;
    border-radius: 11.9661px;
    background-position: 50% 50%;
    background: url(../templates/plus_event.svg) no-repeat center 80px, #FFFFFF;
    border: 0.828885px solid #394A58;
    box-sizing: border-box;
}
.create_event > div{
    position: relative;
    font-weight: 500;
    font-size: 18.2355px;
    line-height: 21px;
    color: #394A58;
    width: 195px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
.competence_list{
    margin-top: 26.52px;
}
.competence_card{
    position: relative;
    width: 216.34px;
    height: 264.41px;
    background: #FFFFFF;
    border: 0.828885px solid #394A58;
    box-sizing: border-box;
    border-radius: 14.9199px;
    margin-right: 63px;
}
.icon{
    position: relative;
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 40.62px;
}
.competence_title{
    position: absolute;
    top:calc(264.41px - 60px);
    font-weight: 500;
    font-size: 18.2355px;
    color: #394A58;
    width: 100%;
}
.competence_title > div{
    position: relative;
    width: fit-content; 
    margin-left: auto;
    margin-right: auto;
}